<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.impl.DepartmentDaoImpl">


    <select id="getById" parameterType="int" resultType="com.example.demo.bean.Department">
        select * from department d where d.id=#{id}
    </select>

</mapper>